<dialog
  id="login-modal"
  class="overflow-hidden border-[1px] border-gray-700 rounded-lg p-6 max-w-lg mx-auto bg-gray-800 text-white shadow-lg"
>
  <h3 id="login-modal-title" class="text-lg font-bold mb-4">Login</h3>
  <button id="login-modal-close-btn" class="absolute top-3 right-3 text-gray-400 hover:text-white">X</button>
  <!-- Login form -->
  <form id="login-form" method="dialog" class="space-y-4">
    <div>
      <label for="mail" class="block text-sm font-medium">Mail*</label>
      <input
        id="mail"
        type="text"
        class="w-full p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div>
      <label for="password" class="block text-sm font-medium">Password*</label>
      <input
        id="password"
        type="password"
        class="w-full p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div id="modal-register-btn" class="flex justify-end text-sm text-gray-400 hover:text-white">
      <span class="hover:underline hover:cursor-pointer">Don't have an account yet? Register now!</span>
    </div>
    <div class="flex justify-end">
      <button id="login-modal-submit-btn" type="submit" class="btn btn-base">Login</button>
    </div>
  </form>
  <!-- Register form -->
  <form id="register-form" method="dialog" class="hidden space-y-4">
    <div>
      <label for="mail-register" class="block text-sm font-medium">Mail*</label>
      <input
        id="mail-register"
        type="text"
        class="w-full p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div>
      <label for="username" class="block text-sm font-medium">Username*</label>
      <input
        id="username"
        type="text"
        class="w-full p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div>
      <label for="password-register" class="block text-sm font-medium">Password*</label>
      <input
        id="password-register"
        type="password"
        class="w-full p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div>
      <label for="password-confirm" class="block text-sm font-medium">Confirm password*</label>
      <input
        id="password-confirm"
        type="password"
        class="w-full p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div class="flex items-center">
      <label for="gdpr" class="text-sm font-medium w-auto text-nowrap">I accept the <a href="#">GDPR</a></label>
      <input
        id="gdpr"
        type="checkbox"
        class="m-auto p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div class="flex justify-end">
      <button id="register-modal-submit-btn" type="submit" class="btn btn-base">Register</button>
    </div>
  </form>
</dialog>
