<!-- Confirmation modal  -->
<dialog id="confirmation-modal" class="modal" aria-labelledby="modalTitle" aria-describedby="modalMessage">
  <div class="modal-content">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-12 w-12 text-red-600 mb-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 8v4m0 4h.01M4.93 4.93a10 10 0 0114.14 0M4.93 19.07a10 10 0 0114.14 0"
      />
    </svg>
    <p id="modalMessage" class="modal-message">
    </p>
    <div class="modal-buttons">
      <button class="confirm-button">Yes</button>
      <button class="cancel-button">No</button>
    </div>
  </div>
</dialog>
