<!-- Create bot profile modal -->
<dialog
  id="create-bot-profile-modal"
  class="modal"
>
  <h2>Create bot profile</h2>
  <form id="create-bot-profile-form" method="dialog" data-route="createBotProfile">
    <div>
      <label for="name" class="block text-sm font-medium">Name*</label>
      <input
        id="name"
        name="name"
        type="text"
        class="w-full input"
        autocomplete="name"
        required
      />
      <span id="name-error-display" class="text-red-500"></span>
    </div>
    <div>
      <label for="platform" class="block text-sm font-medium">Platform</label>
      <input
        id="platform"
        name="platform"
        type="text"
        class="w-full input"
        value="Twitch.tv"
        disabled
      />
      <input type="hidden" name="platform" value="Twitch.tv"/>
    </div>
    <div class="flex justify-end">
      <button id="create-bot-profile-submit-btn" type="submit" class="btn btn-base">Create</button>
    </div>
  </form>
</dialog>
