<dialog id="login-modal" class="modal overflow-y-auto custom-scrollbar">
  <h3 id="login-modal-title" class="text-lg font-bold mb-4">Login</h3>
  <button id="login-modal-close-btn" class="absolute top-3 right-3 text-gray-400 hover:text-white">X</button>
  <!-- Login form -->
  <form id="login-form" method="dialog" class="space-y-4">
    <div>
      <label for="mail" class="block text-sm font-medium">Mail*</label>
      <input id="mail" type="text" class="w-full input" />
    </div>
    <div>
      <label for="password" class="block text-sm font-medium">Password*</label>
      <input id="password" type="password" class="w-full input" />
    </div>
    <span
      id="modal-register-btn"
      class="hover:underline hover:cursor-pointer flex justify-end text-sm text-gray-400 hover:text-white"
    >
      Don't have an account yet? Register now!
    </span>
    <div class="flex justify-end">
      <button id="login-modal-submit-btn" type="submit" class="btn btn-base">Login</button>
    </div>
  </form>
  <!-- Register form -->
  <form id="register-form" method="dialog" class="hidden space-y-3">
    <div id="modal-login-btn" class="flex justify-end text-sm text-gray-400 hover:text-white">
      <span class="hover:underline hover:cursor-pointer">Already have an account? Login here!</span>
    </div>
    <div>
      <label for="mail-register" class="block text-sm font-medium">Mail*</label>
      <input id="mail-register" type="text" class="w-full input" required/>
      <span id="mail-register-error-display" class="text-red-500"></span>
    </div>
    <div>
      <label for="username" class="block text-sm font-medium">Username*</label>
      <input id="username" type="text" class="w-full input" required/>
      <span id="username-error-display" class="text-red-500"></span>
    </div>
    <div>
      <label for="password-register" class="block text-sm font-medium">Password*</label>
      <input id="password-register" type="password" class="w-full input" required />
      <span id="password-register-error-display" class="text-red-500"></span>
    </div>
    <div>
      <label for="password-confirm" class="block text-sm font-medium">Confirm password*</label>
      <input id="password-confirm" type="password" class="w-full input" required />
      <span id="password-confirm-error-display" class="text-red-500"></span>
    </div>
    <div class="flex flex-col items-center">
      <div>
        <label for="gdpr" class="text-sm font-medium w-auto text-nowrap cursor-pointer">I accept the GDPR*</label>
        <input
          id="gdpr"
          type="checkbox"
          class="m-auto p-2 rounded-md bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer"
          required
        />
      </div>
      <span id="gdpr-error-display" class="text-red-500"></span>
    </div>
    <div class="flex justify-end">
      <button id="register-modal-submit-btn" type="submit" class="btn btn-base">Register</button>
    </div>
  </form>
</dialog>
